.entireHome {
    margin-top: 90px;
}

.table-head {
    text-align: center;
}

.table {
    margin: auto;
    font-size: 12px;
    font-family: serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
    background-color: #3aced3;
    text-align: left;
}

.table thead tr th {
    border: black 2px solid;
}

.table th, .table td {
    padding: 0px 10px;
}

tr {
    min-height: 60px;
}

.validEVG {
    background-color: #b5e6c9; 
}

.invalidEVG {
    background-color: #d6a7a4; 
}

.button {
    border: none;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}

.editButton {
    background-color: #009cba;
    border: black 2px solid;
    padding: 4px 20px;
}

.viewButton {
    background-color: #e7e7e7;
    border: black 2px solid;
    color: black;
    padding: 4px 14px;
}

.deleteButton {
    background-color: red;
    border: black 2px solid;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 10px;
    width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 5px;
    margin-right: 5px;
    font-size: 10px;
    cursor: pointer;
}

a:visited {
    color: blue;
}